 .navbar,
.navbar-default {
    background-image: linear-gradient(to bottom,#3c3d3f 0,#201e1fc7 100%) !important; 
} 
.nav {
    text-align: center;
}
.mobileNav {
    visibility: hidden;
}
.largerNav {
    visibility: visible;
    width: 100%;
}
body {
	background: linear-gradient(-45deg, #b62727, #502020, #032b50, #128d70);
	background-size: 400% 400%;
	animation: gradient 60s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.card {
    background-color: #E4E8EC;
    color: #474072;
    width: 70%;
    display: flex;
}
p, li {
    font-size: 20px;
}

.contactBox {
    text-align: center;    
}
.contactMe {
    margin-left: 10px;
}
h1 {
    font-family: 'Roboto', sans-serif;
}
h2 {
    font-family: 'Roboto', sans-serif;
}
h3 {
    font-family: 'Didact Gothic', sans-serif;
    font-weight: bolder;
}
/* Three image containers (use 25% for four, and 50% for two, etc) */
.column {
    float: left;
    padding-left: 10px;
    z-index: 4;
    font-size: 4em;
}
.icon { 
    color: black;
}
/* .underline {
    color: white;
    background-color: white;
    width: 100px;
    float: left;
} */
/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
    z-index: 4;
}
#thefooter {
    width: 90%;
    background-color: antiquewhite;
}
/* Fix */
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    color: white;
    text-align: center;
    font-size: 15px;
}
.contactInfo {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    /* font-size: 3.02em; */
}
.langList {
    position: relative;
}
.forSmaller {
    display: none;
}
.projectDesc {
    display: inline-block;
}
.underline {
    background-color: rgba(245, 245, 245, 0.363);
}

.theProjBtn {
    height: 50px;
    text-align: center;
    background-color: #D88C5A;
    border-color:#000000;
    margin-left: 2.5%;
    width: 50%;

}

.underlineProj {
    background-color: rgba(252, 236, 217, 0.288);
}
.btnText {
    color: #000000;
    vertical-align: middle;
}



@media screen and (max-width: 720px) {
    .forSmaller{ 
        display: inline-block;
    }
    .forBigger {
        display: none;
    }
    p {
        width: 95%;
    }
    .card {
        background-color: #E4E8EC;
        color: #474072;
        width: 80%;
        display: flex;
    }
    .theProjBtn {
        margin-left: 9%;
        width: 100%;
    }
    .mobileNav {
        visibility: visible;
        position: absolute;
        top: 0;
        width: 100%;
    }
    .largerNav {
        visibility: hidden;
        width: 100%;

    }
    body {
        background: linear-gradient(90deg, #411002, #000000, #0e5c79, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 16s ease infinite;
    }
    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }
        50% {
            background-position: 100% 50%;
        }
        100% {
            background-position: 0% 50%;
        }
    }

}